@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@font-face {
    font-family: Mukta;
    src: url("./assets/fonts/Mukta-Medium.ttf");
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
}

body {
    font-family: Mukta, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

body #app {
    width: 100%;
    height: 100%;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; 
}

a:not([draggable=true]), img:not([draggable=true]) {
    -webkit-user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
    -webkit-user-drag: auto;
}

.bg-gray {
    background: #dddddd;
}

.flex-1-1-auto {
    flex: 1 1 auto;
}

.z-index-1 {
    z-index: 10;
}